@model ICollection<MVC_Freelancer.Models.InputJobModel>


<section class="header-section home-one">
    <header class="header-area">
    </header>
    <div class="container">
        <div class="row section-gap header-content">
            <div class="col-lg-7 col-md-8 header-text-wrap">
                <h1>
                    Заявки
                </h1>
                <p>
                    <br>

                </p>
            </div>
        </div>
    </div>
</section>
<br>
<div class="d-flex justify-content-center">
    <div>
        <a style="font-size:19px; color:white;" class="btn btn-info" asp-controller="Job" asp-action="index"> Обяви </a>
        <a style="font-size:19px; color:#62ff3a; border-color:#62ff3a;" class="btn btn-info" asp-controller="request" asp-action="requests"> Заявки </a>
    </div>
</div>

<br>
<br>
@*
@foreach (var item in Model)
{
    <div class="float-left">
    <div class="row d-flex justify-content-center">
        <div class="column">
            <div class="card">
                <div>
                    <p class="float-start">Заявка</p>
                   
                </div>
                <h3 class="float-end">Заглавие: <b>@item.Title</b></h3>
                <p>Описание: @item.Description</p>
                <p>Бюджет: @item.Sum лева</p>
                <p>Срок: @item.DeadLine.ToString("dd/MM/yyyy")</p>
            </div></div>
            <br><br>
        </div>
    </div>
}*@



<div class=" d-flex flex-wrap justify-content-around ">
    <div style=" width:1330px;">
        <h5><i><b>Заявки</b></i> </h5>

        @foreach (var item in Model.Where(x => x.WorkType == "Търся" && x.Status == true && x.DeadLine > DateTime.Today && x.Accept == false))
        {
            <div class="container container2 float-left" style="">
                <div class="card-sl ">
                    <div class="card-image">
                        <img id="image" height="220px;" src="@item.ImgURL" />
                    </div>

                    <div class="card-heading">
                        @item.Name
                    </div>
                    <div class="card-text">
                        Цената е @item.Price лева. За по-подробна информация
                        влезте в самата обява,<br> като натиснете бутона "детайли".
                    </div>
                    <div class="card-text">
                        <p class="float-start">@item.Price <i>BGN</i></p>

                    </div>

                    @if (item.Accept == true)
                    {
                        <div style="margin-top:30px;" class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-warning disabled">Прието </button>
                        </div>
                    }
                    else
                    {
                        <div style="margin-top:30px;" class="d-flex justify-content-center">
                            <form method="post" asp-action="Accept">
                                <fieldset>
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-success">Приеми </button>
                                </fieldset>
                            </form>
                        </div>
                    }
                    <br>
                    <a asp-action="ById" asp-route-id="@item.Id" class="card-button"> Детайли</a>
                </div>
            </div>

        }
    </div>
</div>

</div>
<style>
    .card-sl {
     border-radius: 4px; 
}
    .container2 {
        margin-top: 20px;
        width: 25%;
    }

    @@media screen and (max-width: 1240px) {
        .container2 {
            width: 28%;
            justify-content: center;
            display: grid;
            align-items: center;
        }
    }

    @@media screen and (max-width: 1080px) {
        .container2 {
            width: 33%;
            justify-content: center;
        }
    }

    @@media screen and (max-width: 1000px) {
        .container2 {
            width: 40%;
            justify-content: center;
        }
    }

    @@media screen and (max-width: 830px) {
        .container2 {
            width: 50%;
            justify-content: center;
        }

        #image {
            width: 100%;
        }
    }

    @@media screen and (max-width: 660px) {
        .container2 {
            width: 50%;
            justify-content: center;
        }

        #image {
            width: 100%;
            height: auto;
        }
    }

    @@media screen and (max-width: 600px) {
        .container2 {
            width: 100%;
            justify-content: center;
        }

        #image {
            width: 100%;
        }
    }

    #IndexBody {
        margin-left: 80px;
        margin-right: 80px;
    }

    body {
        background-color: none;
    }

    #newRequestBtn {
        background-color: #0a58ca;
        color: #ffffff;
        padding: 10px;
        border-radius: 8px;
    }

    #progress {
        border-radius: 7px;
        background-color: #2fb92f;
        padding: 3.5px;
    }

    #progress2 {
        border-radius: 7px;
        background-color: orangered;
        padding: 3.5px;
    }

    .requestDeleteBtn {
        width: 30px;
        height: 30px;
        background-color: red;
        color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        font-size: 19px;
        border-radius: 4px;
    }

    .requestEditBtn {
        width: 30px;
        height: 30px;
        background-color: green;
        color: white;
        display: grid;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        font-size: 19px;
        border-radius: 4px;
    }



    .column {
        float: left;
        width: 40%;
        padding: 0 10px;
    }

    .row {
        margin: 0 -5px;
    }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    @@media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        /*text-align: center;*/
        background-color: #0a58ca;
        color: white;
    }

</style>