@model ICollection< MVC_Freelancer.Models.InputJobModel>



<section class="header-section home-one">
    <header class="header-area">
    </header>
    <div class="container">
        <div class="row section-gap header-content">
            <div class="col-lg-7 col-md-8 header-text-wrap">
                <h1>
                    Запознайте се с "работния" модел на бъдещето още днес.
                </h1>
                <p>
                    Покажи си таланта и печели пари <br>
                    или открий други таланти и те да печелят пари.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Start services section -->
<section class="services-section section-gap home-one">
    <div class="container">
        <div class="row d-flex justify-content-center section-title">
            <div class="col-lg-6 col-md-8 col-12">
                <h1>
                    Всякакви ИТ услуги
                    за теб
                </h1>
                <br>
                <p>
                    Избираш ти - или си шефа, или си имаш шеф. Зависи от теб, ако имаш нижда от услуги,
                    значи си шеф. Най-добрата българска онлайн работна среда.
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-12">
                <div data-tilt class="single-service text-center">
                    <img src="./ImageRepository/s1.png">
                    <h4>Онлайн маркетинг</h4>
                    <p>
                        Практика да се използват уеб-базирани канали, за да се
                        разпространи съобщение за ИТ сферата.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service text-center">
                    <img src="./ImageRepository/s2.png">
                    <h4>Всякакви езици</h4>
                    <p>
                        В сайта има всякакви налични програмни езици, с които се програмират дадените задачи или обяви.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-service text-center">
                    <img src="./ImageRepository/s3.png">
                    <h4>Уеб разработка</h4>
                    <p>
                        Всякакви уеб приложения и уеб услуги с админ панели, които улесняват самото управление на сайта.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info-two-section section-gap home-one">
    <div class="container-fluid">
        <div class="row d-flex align-items-center position-relative">
            <img class="pattern" src="~/ImageRepository/info2-pattern.png" alt=>
            <div class="col-lg-6 col-md-10 col-12 info-left">
                <div class="info-left-wrap">
                    <h1>

                        Работата е само на  <br>
                        един клик разстояние
                    </h1>
                    <p class="sub-text">
                        Можеш да добавиш обяви за себе си и за другите. Бюджетът зависи от теб. Пък можеш и да избереш от различните 
                        пакетни услуги с различни цени и ако искаш и ти можеш да направиш такъв пакет с една и съща услуга, 
                        но с различни цени, с различни пюсове и минуси.
                    </p>
                    <div class="row bottom-txt-wrap">
                        <div class="col-md-6 col-12 single-bottom-wrap">
                            <img src="~/ImageRepository/i5.png" alt=>
                            <h4>Оценка</h4>
                            <p>В края на задачата можеш и да оцениш резултата от работата.</p>
                        </div>
                        <div class="col-md-6 col-12 single-bottom-wrap">
                            <img src="~/ImageRepository/i6.png" alt=>
                            <h4>Отказване</h4>
                            <p>Имаш право да отказваш и дадена поръчка или твоят клиент да откаже поръчка.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 info-right">
                <img src="~/ImageRepository/i2.png" alt=>
            </div>
        </div>
    </div>
</section>



<!-- Start team section -->
<section class="team-section section-gap">
    <div class="container">
        <h1 class="title text-center">
            Най-успешните Freelancer-и <br>
            в нашия сайт.
        </h1>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <div class="thumb">
                        <img class="img-fluid" src="/ImageRepository/t1.png" alt="">
                    </div>
                    <div class="details text-center yellow">
                        <h4>Лазар Глаушев</h4>
                        <p>Уеб разработчик</p>
                        <ul>
                            <li><a href="http://facebook.com/"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="http://twitter.com/"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="http://instagram.com/"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="http://linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <div class="thumb">
                        <img src="/ImageRepository/t2.png" alt="">
                    </div>
                    <div class="details text-center purple">
                        <h4>Катерина Климентска</h4>
                        <p>Разработчик на приложения</p>
                        <ul>
                            <li><a href="http://facebook.com/"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="http://twitter.com/"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="http://instagram.com/"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="http://linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <div class="thumb">
                        <img src="/ImageRepository/t3.png" alt="">
                    </div>
                    <div class="details text-center purple2">
                        <h4>Иво Обретенович</h4>
                        <p>Проектен ръководител</p>
                        <ul>
                            <li><a href="http://facebook.com/"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="http://twitter.com/"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="http://instagram.com/"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="http://linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <div class="thumb">
                        <img src="/ImageRepository/t4.png" alt="">
                    </div>
                    <div class="details text-center green">
                        <h4>Климент Бенков</h4>
                        <p>Търговски управител</p>
                        <ul>
                            <li><a href="http://facebook.com/"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="http://twitter.com/"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="http://instagram.com/"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="http://linkedin.com/"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End team section -->
<br></br>
<section>
    <div class="d-flex justify-content-center">
        <h4>Успешно приключени обяви</h4>
    </div>
    <div class=" d-flex flex-wrap justify-content-around ">
        <div style=" width:1330px;">

            @foreach (var item in Model)
            {

                <div class="container container2 float-left" style="">
                    <div class="card-sl ">
                        <div class="card-image">
                            <img id="image" height="220px;" src="@item.ImgURL" width="100%" />
                        </div>

                        <div class="card-heading">
                            @item.Name
                        </div>
                        <div class="card-text">
                            Цената е @item.Price лева. За по-подр...
                        </div>

                        <div class="card-text">
                            <p class="float-start">@item.Price <i>BGN</i></p>
                            @*<p class="float-end">@item.WorkType </p>*@
                        </div>
                        <br>
                        <br>

                        <div class="d-flex justify-content-center">


                            <div>

                                <div class="d-flex justify-content-center">
                                    <p>Предадено от @item.Author.FirstName</p>
                                </div>

                            </div>

                        </div>

                        <br>
                        <a class="card-button">Приключено</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="info-section section-gap home-two">
    <div class="container-fluid">
        <div class="row d-flex align-items-center col-md-rev">
            <div class="col-lg-6 col-md-12 info-left">
                <div class="info-left-wrap">
                    <h1>
                        За сайта:
                    </h1>
                    <ul>
                        <li>
                            <div class="list-icon"><img src="~/ImageRepository/b4.png" alt=""></div>
                            <div class="details">
                                <h4> Бърза и качествена работа</h4>
                                <p>
                                    Намерете правилния фрийленсър, за да започнете да работите по вашия проект в рамките на минути.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon"><img src="/ImageRepository/b5.png" alt=""></div>
                            <div class="details">
                                <h4>Защитено заплащане</h4>
                                <p>
                                    Плащанията се извършат по най-защитения начин. Личните данни остават запазени.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon"><img src="/ImageRepository/b6.png" alt=""></div>
                            <div class="details">
                                <h4>Бъдете готови за различни идеи</h4>
                                <p>
                                    Трябва да можете да използвате въображението си за да имате по хубави резултати.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 info-right">
                <img class="img-fluid" src="~/ImageRepository/i3.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End info section -->



<style>
    @@media screen and (max-width: 1459px) {
        .pattern {
           display:none;
        }

    }

    #list, a {
        list-style: none;
        text-decoration: none;
    }

        #list li {
            text-align: center;
            /* line-height: 50px; */
            opacity: 0;
            margin-top: 90px;
            font-size: 40px;
            font-weight: 700;
            margin-right: 20px;
        }

            #list li:nth-child(2) {
                animation-delay: 0.5s;
            }

            #list li:nth-child(3) {
                animation-delay: 0.9s;
            }

            #list li:nth-child(4) {
                animation-delay: 2s;
            }


    @@keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, -30%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 10%, 10%);
        }

        0% {
            top: 0px;
        }

        25% {
            top: 200px;
        }

        75% {
            top: 50px
        }

        100% {
            top: 100px;
        }
    }

    .progress {
        height: 10px;
        border-radius: 0px;
        width: 240px;
    }

    .skills {
        padding-top: 25px;
    }

    .container2 {
        margin-top: 20px;
        width: 25%;
    }

    @@media screen and (max-width: 1240px) {
        .container2 {
            width: 28%;
            justify-content: center;
            display: grid;
            align-items: center;
        }
    }

    @@media screen and (max-width: 1080px) {
        .container2 {
            width: 33%;
            justify-content: center;
        }
    }

    @@media screen and (max-width: 1000px) {
        .container2 {
            width: 40%;
            justify-content: center;
        }
    }

    @@media screen and (max-width: 830px) {
        .container2 {
            width: 50%;
            justify-content: center;
        }

        #image {
            width: 100%;
        }
    }

    @@media screen and (max-width: 660px) {
        .container2 {
            width: 50%;
            justify-content: center;
        }

        #image {
            width: 100%;
            height: auto;
        }
    }

    @@media screen and (max-width: 600px) {
        .container2 {
            width: 100%;
            justify-content: center;
        }

        #image {
            width: 100%;
        }
    }
</style>