@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


<div class="container d-flex justify-content-center">
    <div class="img float-left">
        <img src="~/ImageRepository/undraw_secure_login_pdn4.svg" id="imgSettings">
    </div>

    <div class="formBody float-left">
        <h2>Вход</h2>
        <div style="margin-top: 50px;">
            <form id="account" method="post">
                <div>
                    @*<input type="text" placeholder="Your name" class="icon1" id="inputs">*@
                    <label asp-for="Input.Email"></label>
                    <br>
                    <input asp-for="Input.Email" placeholder="Email" id="inputs" autocomplete="username" aria-required="true" />
                    <br>
                    <span asp-validation-for="Input.Email" class=" text-danger"></span>
                </div>
                <br>
                @*<input type="password" placeholder="Password" class="icon2" id="inputs">*@

                <label asp-for="Input.Password">Парола</label>
                <input asp-for="Input.Password" id="inputs" placeholder="Парола" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <br><br>
                @* <input type="checkbox" style="margin-left: 0px; margin-top: 5.5px; width: 25px;" class="float-left" name="" id="">
                <p class="float-left" style="margin-left: 5px; font-size: 17x;"> Forgot me </p>*@

                @*<div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>*@
                <button type="submit" class="btn">Вход</button>
            </form>
        </div>
        <br><br>

    </div>
</div>

<style>
    .formBody {
    width: 450px;
        background-color: #ffffff;
        padding-top: 40px;
    }

    .icon1 {
        padding-left: 35px;
        background-image: url("~/ImageRepository/5dcc4a26-2c5f-474e-bd07-7433aa4e6225.jpg");
        background-size: 20px;
    }

    .icon2 {
        padding-left: 35px;
        background: url("./icons8-password-50.png") no-repeat left;
        background-size: 20px;
    }

    #imgSettings {
        width: 500px;
        margin-right:50px;
    }

    .container {
        margin-top: 85px;
    }

    #inputs {
        width: 300px;
        height: 40px;
        border: 0;
        border-bottom: 0.5px black;
        border-top: 0;
        border-style: inset;
        margin-top: 10px;
    }

    .btn {
        margin-top: 25px;
        width: 130px;
        height: 50px;
        background-color: #6c63ff;
        color: #ffffff;
        font-size: 20px;
    }

    .socialMedias {
        margin-top: 3px;
        font-size: 17px;
    }

    .bi-facebook,
    .bi-google,
    .bi-github {
        margin-left: 10px;
        font-size: 20px;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
