@model MVC_Freelancer.Models.InputJobModel

<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>

<div class="d-flex justify-content-center">

    <div style="margin-top:80px;margin-left:80px; margin-right:80px;">

        <br>
        <div class="d-flex ">
            <div class="float-left" id="container">
                <img src="@Model.ImgURL" style="width:100%;">
                <br><br>
                <h3><b>За обявата</b></h3>
                <br>
                <h5 class="item-title">@Model.Name</h5>
                <br>
                <p style="color: #8b95a1;">@Model.Description</p>
            </div>

            <div class="float-left" id="info">
                @if (Model.DeadLine < DateTime.Today)
                {
                    <p style="color:red;">Срокът е изтекъл!</p>
                }
                <p>Заглавие: @Model.Name</p>
                <p>Крайна дата: @Model.DeadLine.ToString("dd/MM/yyyy")</p>
                <p>Цена: @Model.Price лв.</p>
                <p>Автор: @Model.Author.FirstName</p>
                <p>Комуникация: @Model.Author.Email</p>
                <hr>
                <br>
                <div class="d-flex justify-content-center">
                    <form method="post" asp-action="Accept">
                        <fieldset>
                            <input type="hidden" name="id" value="@Model.Id" />
                            @if (Model.TakerId != null)
                            {
                                <button type="submit" class="btn btn-warning disabled">Приета</button>

                            }
                            else
                            {
                                <button type="submit" class="btn btn-success">Приеми</button>

                            }
                        </fieldset>
                    </form>
                </div>



            </div>
        </div>

        <div style=" margin-top:30px;">

            <div style="width:700px; margin-top:80px;">


                <div id="tableContainer">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="tableTh"></th>
                                <th scope="col" class="tableTh" style="width:25%;"><h1>Pro</h1></th>
                                <th scope="col" class="tableTh" style="width:25%;"><h1>Standart</h1></th>
                                <th scope="col" class="tableTh" style="width:25%;"><h1>Basic</h1></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">

                                </th>
                                <td style="width:25%;">
                                    <div class="form-group">
                                        <p>@Model.PackageName</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.PackageName2</p>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.PackageName3</p>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Описание</th>
                                <td style="height:125px;">
                                    <div class="form-group">
                                        <p>@Model.PacketDescription</p>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.PacketDescription2</p>

                                    </div>
                                </td>
                                <td style="width:25%;">
                                    <div class="form-group">
                                        <p>@Model.PacketDescription3</p>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Време за предаване</th>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.DeliveryTime</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.DeliveryTime2</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.DeliveryTime3</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Ревизия</th>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.Revision</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.Revision2</p>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.Revision3</p>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Цена</th>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.PacketPrice</p>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.PacketPrice2</p>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.PacketPrice3</p>

                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">Допълнителна информация</th>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.ExtraInfo</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.ExtraInfo2</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <p>@Model.ExtraInfo3</p>
                                    </div>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>


</div>



<style>
    body {
        background-color: #f4f5f7;
    }

    #userButton {
        background-color: #ffc107;
        border-color: #ffc107;
        color: black;
    }

        #userButton:hover {
            color: white;
        }

    #container {
        width: 700px;
        background-color: #fff;
        border: 1px solid #eaedf2;
        padding: 25px 25px 20px;
    }

    #info {
        width: 393px;
        background-color: #fff;
        border: 1px solid #eaedf2;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 16px;
        margin-left: 40px;
        height: 330px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #btn {
        background-color: #d9232d;
        border-color: #d9232d;
        width: 200px;
        color: white;
        height: 48px;
        border-radius: 9px;
        font-size: 19px;
        display: grid;
        justify-items: center;
        align-items: center;
    }

        #btn:hover {
            background-color: #dd5057;
            border-color: #dd5057;
        }

    .bi {
        padding-top: 20px;
    }

</style>