@model MVC_Freelancer.Models.InputSendMailModel

<section class="header-section page-header" style="margin-top:50px;">
    <div class="container">
        <div class="row section-gap">
            <div class="col-md-12">
                <h1 style="color:white;">Контакти</h1>
            </div>
        </div>
    </div>
</section>
<br>
<br>

<form method="post">
    <section>
        <h2 class="text-center h1-responsive font-weight-bold">Свържете се с мен</h2>
        <br>
        <p class="text-center w-responsive mx-auto mb-5">
            Имате въпрос? Моля, не се колебайте да се <br>свържете
            директно с мен.
        </p>
        <div style="display:none;" class="alert alert-info">@TempData["Message"]</div>

        <br>
        @{
            var username = User.Identity.Name;
            char[] gmail = { '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm' };
            char[] email = { '@', 'a', 'b', 'v', '.', 'b', 'g' };
            char[] hotmail = { '@', 'h', 'o', 't', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm' };
           var onlyname = username.Trim(hotmail);
            onlyname = username.Trim(email);
             onlyname = username.Trim(gmail);
        }

        @*<div class="alert alert-success" role="alert">
        This is a success alert—check it out!
        </div>*@

        <script>
            function success() {
                alert("Съобщението е успешно изпратено!");
            }
        </script>


        <center>
            <div class="d-flex justify-content-center">
                <span> <input asp-for="@Model.Name" onclick="ContactsForm()" value="@onlyname" required id="name" readonly="readonly" class="contactInputs form-control float-left " type="text" placeholder="Собствено име"></span>
                <input asp-for="@Model.Email" onclick="ContactsForm()" value="@User.Identity.Name" required id="e-mail" readonly="readonly" class="contactInputs form-control" type="email" placeholder="E-mail">
            </div>
            <br><br>
            <input asp-for="@Model.Subject" onclick="ContactsForm()" id="theme" class="contactInputs form-control" type="text" placeholder="Тема" required>
            <br><br>
            <textarea asp-for="@Model.Message" onclick="ContactsForm()" id="msg" class="contactInputs  form-control md-textarea" placeholder="Вашето съобщение" required></textarea>


            <br><br>
            <input onclick=success() value="Изпращане" type="submit" id="btn">
        </center>

    </section>
</form>
<br>
<br>

<style>
    .contactInputs {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        margin-left: 10px;
    }

        .contactInputs:focus {
            outline: none;
            box-shadow: none;
        }

    #name, #e-mail {
        width: 280px;
    }

    #theme, #msg {
        width: 570px;
    }

    #btn {
        background-color: #1996fa;
        color: white;
        width: 170px;
        height: 50px;
        font-size: 18px;
        border: none;
        border-radius: 8px;
        transition: .2s;
    }

        #btn:hover {
            background-color: #4eb0ff;
        }
</style>