@model IEnumerable<MVC_Freelancer.Models.InputJobModel>

<section class="header-section home-one">
    <header class="header-area">
    </header>
    <div class="container">
        <div class="row section-gap header-content">
            <div class="col-lg-7 col-md-8 header-text-wrap">
                <h1>
                    Обяви
                </h1>
                <p>
                    <br>

                </p>
            </div>
        </div>
    </div>
</section>
<br>
<div class="d-flex justify-content-center">
    <div>
        <a style="font-size:19px; color:#62ff3a; border-color:#62ff3a;" class="btn btn-info" asp-controller="Job" asp-action="index"> Обяви </a>
        <a style="font-size:19px; color:white;" class="btn btn-info" asp-controller="request" asp-action="requests"> Заявки </a>
    </div>
</div>

<br>
<br>
<div class="btn-group float-end" style="margin-right:80px;">
    <button type="button" class="site-btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Добави обява</button>
    <ul class="dropdown-menu" style="">
        <li><a class="dropdown-item" href="#">Търся работа</a></li>
        <li><a class="dropdown-item" asp-controller="Job" asp-action="Add">Предлагам работа</a></li>
    </ul>
</div>

<br>
<br>

<div class="d-flex justify-content-center boxContainer">

    <div class="boxes float-left" style=" margin-right: 15px;">
        <p style="margin-left:20px;margin-right:20px;"><b>Създай заявка</b> по най-лесния начин</p>
        <img class="box-img" src="~/ImageRepository/undraw_Investor_update_re_qnuu.png">
        <p class="box-text">Имаш проблем с намирането на работник или Freelancer, който търсиш? </p>
        <a asp-controller="Request" asp-action="Index" class="box-btn"><b>Създай заявка</b></a>
    </div>

    <div class="boxes float-left" style=" margin-right: 15px;">
        <p style="margin-left:20px;margin-right:20px;"><b>Стани Freelancer</b>, работи по най-свободния начин</p>
        <img class="box-img" src="~/ImageRepository/undraw_Freelancer_re_irh4.png">
        <p class="box-text">Имаш нужда от работа, но не знаеш от къде и как да започнeш? Ние сме тук, за да ти помогнем.</p>
        <a asp-controller="Job" asp-action="Add" class="box-btn"><b>Стани Freelancer</b></a>
    </div>

    <div class="boxes">
        <p style="margin-left:30px;margin-right:30px;"><b>Намери си Freelancer</b>, който да ти върши услуги</p>
        <img class="box-img" src="~/ImageRepository/undraw_Join_re_w1lh.png">
        <p class="box-text">Имаш нужда от работник, но не знаеш от къде и как да го намериш? Ние сме тук, за да ти помогнем.</p>
        <a asp-controller="Job" asp-action="Services" class="box-btn"><b>Намери Freelancer</b></a>
    </div>
</div>




<div class=" d-flex flex-wrap justify-content-around ">
    <div style=" width:1330px;">
        <h5><i><b>Предлагани:</b></i> </h5>

        @foreach (var item in Model.Where(x => x.WorkType == "Предлагам" && x.Status == true))
        {
            @*<form method="post" asp-action="Rating">
        <label for="Rating">Рейтинг:</label>
        <select asp-for="@item.Rating" name="Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
        <button type="submit">Изпрати</button>
        </form>*@

            <div class="container container2 float-left" style="">
                <div class="card-sl ">
                    <div class="card-image">
                        <img id="image" height="220px;" src="@item.ImgURL" />
                    </div>
                    @*  @if (item.WorkType == "Търся")
                {
                <p class="card-heading">
                Търсещ
                </p>
                }*@
                    <div class="card-heading">
                        @item.Name
                    </div>
                    <div class="card-text">
                        Цената е @item.Price лева. За по-подробна информация
                        влезте в самата обява,<br> като натиснете бутона "детайли".
                    </div>
                    <div class="card-text">
                        <p class="float-start">@item.Price <i>BGN</i></p>

                        @*@if (item.Status == true)
                    {
                    <p id="visibility" class="float-end" style=" background-color: orange;padding: 4px;border-radius: 5px;"><i><b>в пауза</b></i></p>
                    }*@


                    </div>
                    

                    <form method="post" asp-action="Orders">
                        <fieldset>
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-warning">Приеми </button>
                        </fieldset>
                    </form>
                    @*<div class="d-flex justify-content-center">
                @if (item.Status == false)
                {
                <form method="post" asp-action="Pause">
                <fieldset>
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit" class="btn btn-warning"><i class="fa-solid fa-play float-left"></i> </button>
                </fieldset>
                </form>
                }
                else
                {
                <form method="post" asp-action="Pause">
                <fieldset>
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit" class="btn btn-warning"><i class="fa-solid fa-pause float-left"></i> </button>
                </fieldset>
                </form>
                }
                <a asp-action="Edit" asp-route-id="@item.Id">
                <button class=" btn btn-success" style="margin-left:5px; margin-right:5px;">
                <i class="requestEditBtn fa-solid fa-pencil float-left" style="color:white;"></i>
                </button>
                </a>

                <a asp-action="Delete" asp-route-id="@item.Id">
                <button class="btn btn-danger">
                <i class="requestDeleteBtn fa-solid fa-trash-can float-left" style="  color:white;"></i>
                </button>
                </a>

                </div>*@

                    <br>
                    <a asp-action="ById" asp-route-id="@item.Id" class="card-button"> Детайли</a>
                </div>
            </div>

        }
    </div>
</div>
<br>



<style>
    .container2 {
        margin-top: 20px;
        width: 25%;
    }

    @@media screen and (max-width: 1240px) {
        .container2 {
            width: 28%;
            justify-content: center;
            display: grid;
            align-items: center;
        }
    }

    @@media screen and (max-width: 1080px) {
        .container2 {
            width: 33%;
            justify-content: center;
        }
    }

    @@media screen and (max-width: 1000px) {
        .container2 {
            width: 40%;
            justify-content: center;
        }
    }

    @@media screen and (max-width: 830px) {
        .container2 {
            width: 50%;
            justify-content: center;
        }

        #image {
            width: 100%;
        }
    }

    @@media screen and (max-width: 660px) {
        .container2 {
            width: 50%;
            justify-content: center;
        }

        #image {
            width: 100%;
            height: auto;
        }
    }

    @@media screen and (max-width: 600px) {
        .container2 {
            width: 100%;
            justify-content: center;
        }

        #image {
            width: 100%;
        }
    }


    #list, a {
        list-style: none;
        text-decoration: none;
    }

        #list li {
            text-align: center;
            /* line-height: 50px; */
            opacity: 0;
            margin-top: 90px;
            font-size: 40px;
            font-weight: 700;
            margin-right: 20px;
        }

            #list li:nth-child(2) {
                animation-delay: 0.5s;
            }

            #list li:nth-child(3) {
                animation-delay: 0.9s;
            }

            #list li:nth-child(4) {
                animation-delay: 2s;
            }


    @@keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, -30%, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 10%, 10%);
        }

        0% {
            top: 0px;
        }

        25% {
            top: 200px;
        }

        75% {
            top: 50px
        }

        100% {
            top: 100px;
        }
    }

</style>